<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="logo.img.png" alt="logo" class="logo">
        <nav id="menu">
            <ul>
            <li><img src="home.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
            <li><img src="user.png" width="20px" height="18px"> <a href="#">TIPOS DE USUARIO</a></li>
            <li><img src="suitcase.png" width="20px" height="18px"> <a href="#">USUÁRIOS DA PLATAFORMA</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">CATEGORIAS DE COMUNIDADE</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="/criarComunidade.html">COMUNIDADES</a></li>
            <li><img src="user.png" width="20px" height="18px"> <a href="#">FÓRUM</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="/respostasForuns.html">RESPOSTAS DOS FÓRUNS</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">RAMOS DAS EMPRESAS</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">EMPRESAS</a></li
            </ul>
        </nav>
    </header>
    <section id="destaque">
        <img src="banner.jpg">
    </section>  
    <main>
        <div id="containerCriacao">

            <h1 class="titulo" id="tituloCriarConta">CRIAR COMUNIDADE</h1>
    
            <form action="/criarComunidade" method="post">
                
                <label for="nomeComunidade" class="rotulo">NOME </label>
                <input class="inputTexto" type="text" name="nomeComunidade" id="nomeComunidade" placeholder="Digite o nome da comunidade">
        
                <label for="descricaoComunidade" class="rotulo">DESCRIÇÃO</label>
                <input type="descricaoComunidade" class="inputTexto" name="descricaoComunidade" id="descricaoComunidade" placeholder="Digite a descrição da sua comunidade">
        
                <label for="categoriaComunidade" class="rotulo">CATEGORIA DA COMUNIDADE</label>
                <select  class="select" name="categoriaComunidade" id="categoriaComunidade" aria-placeholder="Categoria da comunidade">
                    <option value="" disabled selected hidden>Selecione uma categoria</option>
                    <!--
                        <% categorias_comunidade.forEach((c, index) => { %>
						<option value="<%= c.categoria_id %>"><%= c.nome %></option>
					<% }) %>
                    -->
                </select>

                <label for="criador " class="rotulo">CRIADOR</label>
                <input type="text" class="inputTexto" name="criador" id="criador" placeholder="Digite o nome do criador">
        
                <label for="estadoComunidade" class="rotulo">ESTADO DA COMUNIDADE</label>
                <select  class="select" name="estadoComunidade" id="estadoComunidade" aria-placeholder="Categoria da comunidade">
                    <option value="" disabled selected hidden>Selecione um estado</option>
                    <option value="1">Ativada</option>
                    <option value="0">Desativada</option>
                </select>
        
                <label for="dataCriacaoComunidade" class="rotulo">DATA DE CRIAÇÃO</label>

                <input type="date" class="date" name="dataCriacaoComunidade" id="dataCriacaoComunidade" placeholder="Data de criação da comunidade"> <br><br>
                <section class="form-buttons">
                <input type="submit" class="botaoClaro" id="botaoCriarComunidade" value="CRIAR COMUNIDADE"><br>
                <input type="reset" class="botaoClaro" id="botaoCancelarCadastro" value="CANCELAR">
                </section>
            </form>
        </div>
    </main>
    <footer>
        <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
</body>
</html>