<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="logo.img.png" alt="logo" class="logo">
        <nav id="menu">
            <ul>
            <li><img src="home.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
            <li><img src="user.png" width="20px" height="18px"> <a href="#">TIPOS DE USUARIO</a></li>
            <li><img src="suitcase.png" width="20px" height="18px"> <a href="#">USUÁRIOS DA PLATAFORMA</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">CATEGORIAS DE COMUNIDADE</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="/criarComunidade.html">COMUNIDADES</a></li>
            <li><img src="user.png" width="20px" height="18px"> <a href="#">FÓRUM</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="/respostasForuns.html">RESPOSTAS DOS FÓRUNS</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">RAMOS DAS EMPRESAS</a></li>
            <li><img src="users.png" width="20px" height="18px"> <a href="#">EMPRESAS</a></li
            </ul>
        </nav>
    </header>
    <section id="destaque">
        <img src="banner.jpg">
    </section>  
    <main>
        <div id="containerCriacao">

            <h1 class="titulo" id="tituloCriarConta">RESPONDER FÓRUM</h1>
    
            <form action="/responderForum" method="post">
                
                <label for="mensagemResposta" class="rotulo">RESPOSTA</label>

                <textarea placeholder="Digite sua resposta" class="inputTextoGrande" name="mensagemResposta" id="mensagemResposta" rows="4" cols="50"></textarea>
                <br>

                <label for="autorRespostaForum" class="rotulo">AUTOR</label>
                <input type="text" class="inputTexto" name="autorRespostaForum" id="autorRespostaForum" placeholder="Digite o nome do autor">

                <br>
                <label for="dataCriacaoForum" class="rotulo"><span>DATA DE CRIAÇÃO</span> </label>
                <input type="date" class="date" name="dataCriacaoForum" id="dataCriacaoForum" placeholder="Data de criação da resposta"><br>

                <label for="forumResposta" class="rotulo">RESPONDER FÓRUM</label>
                <select  class="select" name="forumResposta" id="forumResposta">
                    <option value="" disabled selected hidden>Selecione um fórum para responder</option>
                    <!--
                        <% forum.forEach((f, index) => { %>
						<option value="<%= f.forum_id %>"><%= f.titulo%></option>
					<% }) %>
                    -->
                </select> <br><br>

                <section class="form-buttons">
                <input type="submit" class="botaoClaro" id="botaoCriarComunidade" value="RESPONDER"><br>
                <input type="reset" class="botaoClaro" id="botaoCancelarCadastro" value="CANCELAR">
                </section>
            </form>
        </div>
    </main>
    <footer>
        <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
</body>
</html>