<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="../logo.img.png" alt="logo" class="logo">
        <nav id="menu">
            <ul>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/papeisUsuarios">TIPOS DE USUARIO</a></li>
                <li><img src="../suitcase.png" width="20px" height="18px"> <a href="/usuariosPlataforma">USUÁRIOS DA PLATAFORMA</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/categoriasComunidades">CATEGORIAS DE COMUNIDADE</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/comunidades">COMUNIDADES</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/foruns">FÓRUM</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/respostasForuns">RESPOSTAS DOS FÓRUNS</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/ramosEmpresas">RAMOS DAS EMPRESAS</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/empresas">EMPRESAS</a></li>
            </ul>
        </nav>
    </header>
    <section id="destaque">
        <img src="../banner.jpg">
    </section>  
    <main>
        <div id="containerCriacao">

            <h1 class="tituloClaro" id="tituloCriarConta">CRIAR USUÁRIO PLATAFORMA</h1>
    
            <form action="/criarUsuarioPlataforma" method="post">
                
                <label for="apelido" class="rotulo">APELIDO</label>
                <input type="text" class="inputTexto" name="apelido" id="apelido" placeholder="Digite o apelido de desejo">

                <label for="senha" class="rotulo">SENHA</label>
                <input type="password" class="inputTexto" name="senha" id="senha" placeholder="Digite sua senha">

                <br>
                <label for="cpf" class="rotulo"><span>CPF</span> </label>
                <input type="text" class="inputTexto" name="cpf" id="cpf" placeholder="Digite seu CPF"><br>

                <label for="nome" class="rotulo">NOME</label>
                <input type="text" class="inputTexto" name="nome" id="nome" placeholder="Digite o seu nome">

                <label for="sobrenome" class="rotulo">SOBRENOME</label>
                <input type="text" class="inputTexto" name="sobrenome" id="sobrenome" placeholder="Digite o seu sobrenome">

                <label for="papel" class="rotulo">PAPEL</label>
                <select  class="select" name="papel" id="papel">
                    
                    <% papeisUsuarios.forEach((p, index) => { %>
						<option value="<%= p.papel_id %>"><%= p.nome %></option>
					<% }) %>
                    
                </select> <br>

                <label for="email" class="rotulo">EMAIL</label>
                <input type="text" class="inputTexto" name="email" id="email" placeholder="Digite o seu email">
                
                <label for="telefone" class="rotulo">TELEFONE</label>
                <input type="text" class="inputTexto" name="telefone" id="telefone" placeholder="Digite o seu telefone"><br><br>

                <section class="form-buttons">
                <input type="submit" class="botaoClaro"  value="RESPONDER"><br>
                <input type="reset" class="botaoClaro"  value="CANCELAR"><br>
                </section>
            </form>
        </div>
    </main>
    <footer>
        <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
</body>
</html>