<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="../logo.img.png" alt="logo" class="logo">
        <nav id="menu">
            <ul>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/papeisUsuarios">TIPOS DE USUARIO</a></li>
                <li><img src="../suitcase.png" width="20px" height="18px"> <a href="/usuariosPlataforma">USUÁRIOS DA PLATAFORMA</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/categoriasComunidades">CATEGORIAS DE COMUNIDADE</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/comunidades">COMUNIDADES</a></li>
                <li><img src="../user.png" width="20px" height="18px"> <a href="/foruns">FÓRUM</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/respostasForuns">RESPOSTAS DOS FÓRUNS</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/ramosEmpresas">RAMOS DAS EMPRESAS</a></li>
                <li><img src="../users.png" width="20px" height="18px"> <a href="/empresas">EMPRESAS</a></li>
            </ul>
        </nav>
    </header>
    <section id="destaque">
        <img src="../banner.jpg">
    </section>  
    <main>
        <div id="containerCriacao">

            <h1 class="tituloClaro">CRIAR EMPRESA</h1>
    
            <form action="/criarEmpresa" method="post">

                <label for="nome" class="rotulo">NOME DA EMPRESA</label>
                <input type="text" class="inputTexto" name="nome" id="nome" placeholder="Digite o nome da empresa">

                <label for="cnpj" class="rotulo">CNPJ</label>
                <input type="text" class="inputTexto" name="cnpj" id="cnpj" placeholder="Digite o CNPJ da empresa">

                <label for="proprietario" class="rotulo">PROPRIETÁRIO</label>
                <input type="text" class="inputTexto" name="proprietario" id="proprietario" placeholder="Digite seu apelido">
                
                <label for="ramo" class="rotulo">RAMO DA EMPRESA</label>
                <select  class="select" name="ramo" id="ramo">
                    <option value="" disabled selected hidden>Selecione um ramo para a empresa</option>
                    
                        <% ramosEmpresas.forEach((r, index) => { %>
						<option value="<%= r.ramo_id %>"><%= r.nome%></option>
					<% }) %>
                    
                </select>
                <br>
                <label for="sobre" class="rotulo">SOBRE A EMPRESA</label>
                <input type="text" class="inputTexto" name="sobre" id="sobre" placeholder="Digite informações sobre a empresa">

                <label for="fundacao" class="rotulo">DATA DE FUNDAÇÃO</label>
                <input type="date" class="date" name="fundacao" id="fundacao" placeholder="Data de fundação da empresa"><br>

                <label for="numFuncionarios" class="rotulo">NUMERO DE FUNCIONÁRIOS</label>
                <input type="number" class="inputTexto" name="numFuncionarios" id="numFuncionarios" placeholder="Digite o número de funcionários da empresa">
                
                <label for="telefone" class="rotulo">TELEFONE</label>
                <input type="text" class="inputTexto" name="telefone" id="telefone" placeholder="Digite o telefone da empresa">

                <label for="email" class="rotulo">EMAIL</label>
                <input type="text" class="inputTexto" name="email" id="email" placeholder="Digite o email da empresa">

                </select> <br><br>

                <section class="form-buttons">
                <input type="submit" class="botaoClaro" value="CRIAR EMPRESA"><br>
                <input type="reset" class="botaoClaro"value="CANCELAR"><br>
                </section>
            </form>
        </div>
    </main>
    <footer>
        <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
</body>
</html>