<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <img src="../logo.img.png" alt="logo" class="logo">
            <nav id="menu">
                <ul>
                    <li><img src="../user.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
                    <li><img src="../user.png" width="20px" height="18px"> <a href="/papeisUsuarios">TIPOS DE USUARIO</a></li>
                    <li><img src="../suitcase.png" width="20px" height="18px"> <a href="/usuariosPlataforma">USUÁRIOS DA PLATAFORMA</a></li>
                    <li><img src="../users.png" width="20px" height="18px"> <a href="/categoriasComunidades">CATEGORIAS DE COMUNIDADE</a></li>
                    <li><img src="../user.png" width="20px" height="18px"> <a href="/comunidades">COMUNIDADES</a></li>
                    <li><img src="../user.png" width="20px" height="18px"> <a href="/foruns">FÓRUM</a></li>
                    <li><img src="../users.png" width="20px" height="18px"> <a href="/respostasForuns">RESPOSTAS DOS FÓRUNS</a></li>
                    <li><img src="../users.png" width="20px" height="18px"> <a href="/ramosEmpresas">RAMOS DAS EMPRESAS</a></li>
                    <li><img src="../users.png" width="20px" height="18px"> <a href="/empresas">EMPRESAS</a></li>
                </ul>
            </nav>
        </header>
        <section id="destaque">
            <img src="../banner.jpg">
        </section>  
        <main id="center">
            <h1 class="tituloEscuro">AS INFORMAÇÕES FORAM SALVAS COM SUCESSO</h1>
            <p class="paragrafo">Aproveite a plataforma :)</p>
            <a href="/"><input type="button" class="botaoEscuro" value="VOLTAR"></a>
        </main>
        <footer>
            <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
        </footer>
    </body> 
</html>