/* GERAL */

/* Ajustes padrões da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a, label{
    font-size: .8rem;
}

/* Cabeçalho da página ajustes padrões*/
header{
    height: 250px;
    background-color: #2a313b;
    text-align: center;
}

.logo{
    max-width:140px;
    max-height:100px;
    width: auto;
    height: auto;
 }

 nav{
    text-align: center;
    height: 150px;
    background-color: #000000;
    width: 100%;
    padding: 1%;
}

li{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: solid white 1px;
    background-color: white;
    color:#000000;
}

/* Banner ajuste padrão */

#destaque img{
    width: 100%;
}

/* Parte principal da página ajustes padrões*/
main {
    padding: 5px;
    height: 750px;
}

/* Rodapé ajustes padrões*/
footer{
    background-color:#2a313b;
    color: white;
    height: 100px;
    text-align: center;
}

footer p{
    padding: 40px;
    font-size: .8rem;
}

/* CLASSES PADRÕES */ 

.titulo{
    padding: 20px;
    color: #2a313b;
    text-align: center; 
}

.subtitulo{
    padding: 10px;
    color: #2a313b;
    text-align: center; 
}

.paragrafo{
    padding: 20px 300px;
    color: #2a313b;
    text-align: justify;
}

.rotulo{
    padding: 5px;
    color: white;
    text-align: left;
    display: block;
}

.botao{
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: #2a313b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.botao:hover{
    background-color: rgb(202, 200, 200);
    color: #2a313b;
    transition: 0.3s;
}

.inputTexto{
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 300px;
    border: 2px solid #2a313b;
    color: black;
    border-radius: 2px;
}

.select{
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 300px;
    border: 2px solid #2a313b;
    color: rgb(105, 105, 105);
    border-radius: 2px;
}

.secao{
    padding: 5px;
}

/* ELEMENTOS DA PÁGINA COMUNIDADES*/

.tabela{
    width: 600px;
}

.tabela, th, td{
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #2a313b;
    border-collapse: collapse;
    font-size: 15px;
    padding: 10px;
    color: #2a313b;
    text-align: center;
}

/* ELEMENTOS DA PÁGINA CRIAR CONTA*/

#containerCriacao{
    background-color: #2a313b;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 3vh;
    border: solid #272525 1px;
    border-radius: 5px;
    color:white;
    margin-bottom: 50px;
}

#tituloCriarConta{
    color: white;
}

#botaoCriarConta{
    background-color: white;
    color: #2a313b;
    display: block;
    margin: auto;
    width: 120px;
}

#botaoCriarConta:hover{
    background-color: rgb(202, 200, 200);
    color: #2a313b;
    transition: 0.3s;
}

#botaoCancelar{
    background-color: white;
    color: #2a313b;
    display: block;
    margin: auto;
    width: 120px;
}

#botaoCancelar:hover{
    background-color: rgb(202, 200, 200);
    color: #2a313b;
    transition: 0.3s;
}

#checkTermos{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkTermos input{
    margin-right: 5px;
}

/* ELEMENTOS DA PÁGINA RESPOSTA DO FORM */

#botaoVoltarComunidade{
    margin: auto;
}

#mensagemForm{
    padding: 20px 300px;
}
#mensagemForm #botaoVoltarComunidade{
    margin-top: 20px;
}


/* ??????? */
textarea:focus, input:focus{
    outline: none;
}

