<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- título e icone da página -->
      <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
      <!-- link para arquivo de css -->
      <link rel="stylesheet" href="../style.css">
  </head>

  <body>
    <!-- cabeçalho da página -->
    <header>
      <img src="../logo.img.png" alt="logo" class="logo">
      <nav id="menu">
          <ul>
              <li><img src="../user.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
              <li><img src="../user.png" width="20px" height="18px"> <a href="/papeisUsuarios">TIPOS DE USUARIO</a></li>
              <li><img src="../suitcase.png" width="20px" height="18px"> <a href="/usuariosPlataforma">USUÁRIOS DA PLATAFORMA</a></li>
              <li><img src="../users.png" width="20px" height="18px"> <a href="/categoriasComunidades">CATEGORIAS DE COMUNIDADE</a></li>
              <li><img src="../user.png" width="20px" height="18px"> <a href="/comunidades">COMUNIDADES</a></li>
              <li><img src="../user.png" width="20px" height="18px"> <a href="/foruns">FÓRUM</a></li>
              <li><img src="../users.png" width="20px" height="18px"> <a href="/respostasForuns">RESPOSTAS DOS FÓRUNS</a></li>
              <li><img src="../users.png" width="20px" height="18px"> <a href="/ramosEmpresas">RAMOS DAS EMPRESAS</a></li>
              <li><img src="../users.png" width="20px" height="18px"> <a href="/empresas">EMPRESAS</a></li>
          </ul>
      </nav>
  </header>
  <section id="destaque">
      <img src="../banner.jpg">
  </section>  
    <main>

      <h1 class="tituloEscuro">RESPOSTAS FÓRUNS</h1>

      <form action="/filtrarRespostaForum" method="post">
        <input type="text" class="inputTexto" name="mensagem" id="textoBusca" placeholder="Utilize '%' para auxiliar sua busca"/>
        <input type="submit" class="botaoEscuro" value="BUSCAR">
      </form>
    
      <section class="secao" id="sectionBotoesTabela">
        <a href="/formRespostaForum"><input type="submit" class="botaoEscuro"  value="CRIAR"></a>
        <a href="/editar"><input type="submit" class="botaoEscuro" value="EDITAR"></a> 
        <a href="/deletar"><input type="submit" class="botaoEscuro"  value="DELETAR"></a>
      </section>
     
      <h2 class="subtitulo">BUSQUE RESPOSTAS</h2><br>
   
        <table class="tabela">
          <tr>
            <th>Mensagem</th>
            <th>Data Criação</th>
            <th>Autor</th>
            <th>Fórum</th>
          </tr>
              <% respostasForuns.forEach((r, index) => { %>
          <tr>
            <td><%= r.mensagem %></td>
            <td><%= r.data_criacao %></td>
            <td><%= r.autor %></td>
            <td><%= r.forum %></td>
          </tr>
          <% }) %>
        </table>
    </main> 
    <footer>
      <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
  </body>
</html>