<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- título e icone da página -->
      <link rel="icon" type="imagem/png" href="logo.icone.png" /><title>Conecte-se</title>
      <!-- link para arquivo de css -->
      <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <!-- cabeçalho da páhina -->
    <header>
      <img src="../images/logo.img.png" alt="logo" class="logo">
      <nav id="menu">
          <ul>
          <li><img src="images/user.png" width="20px" height="18px"> <a href="/">INÍCIO</a></li>
          <li><img src="images/user.png" width="20px" height="18px"> <a href="#">TIPOS DE USUARIO</a></li>
          <li><img src="images/suitcase.png" width="20px" height="18px"> <a href="/usuariosPlataforma">USUÁRIOS DA PLATAFORMA</a></li>
          <li><img src="images/users.png" width="20px" height="18px"> <a href="/categoriasComunidade">CATEGORIAS DE COMUNIDADE</a></li>
          <li><img src="images/user.png" width="20px" height="18px"> <a href="/criarComunidade">COMUNIDADES</a></li>
          <li><img src="images/user.png" width="20px" height="18px"> <a href="/criarForum">FÓRUM</a></li>
          <li><img src="images/users.png" width="20px" height="18px"> <a href="/respostasForuns">RESPOSTAS DOS FÓRUNS</a></li>
          <li><img src="images/users.png" width="20px" height="18px"> <a href="/ramosEmpresa">RAMOS DAS EMPRESAS</a></li>
          <li><img src="images/users.png" width="20px" height="18px"> <a href="/criarEmpresa">EMPRESAS</a></li>
          </ul>
      </nav>
  </header>
  <section id="destaque">
      <img src="../Images/banner.jpg">
  </section>   
    <main>
      <!-- título principal da página -->
      <h1 class="tituloEscuro">USUÁRIOS DA PLATAFORMA</h1>
      <!-- barra de busca de comunidades -->
      <section class="secao" id="sectionBusca">
        <input type="text" class="inputTexto" id="textoBusca" placeholder="Digite sua busca :)"/>
        <input type="submit" class="botaoEscuro" id="botaoBuscar" value="BUSCAR">
      </section>
      <!-- botões de interação com a tabela de comunidades -->
      <section class="secao" id="sectionBotoesTabela">
        <a href="/criar"><input type="submit" class="botaoEscuro" id="botaoCriar" value="CRIAR"></a>
        <a href="/editar"><input type="submit" class="botaoEscuro" id="botaoEditar" value="EDITAR"></a> 
        <a href="/deletar"><input type="submit" class="botaoEscuro" id="botaoDeletar" value="DELETAR"></a>
      </section>
      <!--subtítulo da página-->
      <h2 class="subtitulo">BUSQUE USUÁRIOS DA PLATAFORMA</h2><br>
      <!--tabela de tipos de usuário -->
        <table id="tabelaUsuariosPlataforma" class="tabela">
          <tr>
            <th>Apelido</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Papel</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <!--<th>senha</th> nao sei se devemos mostrar a senha-->
          </tr>
              <!--<% usuarios_da_plataforma.forEach((e, index) => { %>
          <tr>
            <td><%= e.apelido %></td>
            <td><%= e.cpf %></td>
            <td><%= e.nome %></td>
            <td><%= e.sobrenome %></td>
            <td><%= e.papel %></td>
            <td><%= e.email %></td>
            <td><%= e.telefone %></td>
            <td><%= e.senha %></td> nao sei se devemos mostrar a senha
          </tr>
          <% }) %>-->
        </table>
    </main> 
    <footer>
      <p>Conecte-se | Idealizado por Rafaela Correa, João Victor Prado, Bárbara Raupp, Bruno Neves e Aline Fraga | 2022</p>
    </footer>
  </body>
</html>
