<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../style.css">

    <title>Conecte-se | Login</title>
  </head>
  <body style="padding: 30px;">

    <section id="aligner-login">
    <section class="formulario">

        <form action="/entrar" method="post">
          <section id="inputs" style="width: 300px; margin: auto; color: #fafafa;">
            <label for="apelido">Apelido</label><br>
            <input class="input-texto" type="text" id="apelido" name="apelido">
            <br><br>
            <label for="senha">Senha</label><br>
            <input class="input-texto" type="password" id="senha" name="senha">
          </section>
          <br>
          <button class="btn botao-bgescuro-amarelo" type="submit" style="border-radius: 20px;">Entrar</button>
        </form>
       <button type="button" class="btn botao-bgescuro-amarelo" style="border-radius: 20px;"><a href="/"></a>Voltar</a></button>
    </section>
    <section class="paragrafo-formulario">
      <h4 style="text-align: center;">Sobre</h4><br>
      <p class="p-escuro" style=" text-align: justify;">Nossa proposta é promover uma conexão entre pequenos empreendedores
        e potenciais clientes, com espaços para divulgação daqueles que empreendem ou desejam auxiliar no meio, acessível e que oportunize todos os envolvidos: empreendedores, estudantes, profissionais e consumidores.
        Todos esses usuários irão se conectar a um espaço de troca de ideias, a fim de compartilhar conhecimento com os demais usuários. Tais oportunidades irão ser organizadas em comunidades, com a intenção de categorizar informações de cada meio e interesse. Tudo isso, será encontrado nos fóruns, com espaços para conversação entre os usuários. 
        Além disso, a partir da influência das empresas na comunidade, será possível divulgar seus produtos, informações e contato das mesmas, a fim de aprimorar os espaços daquela empresa com maior visibilidade. Dessa forma, facilitando a experiência do usuário e, ao mesmo tempo, aumentando a interação da empresa com os mesmos. 
   </p>
    </section>
</section>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
    </body>
</html>